@* @model IEnumerable<MyWebApp.Models.Category> *@
@* *@
@* @foreach(var category in Model) *@
@* { *@
@*     <div class="form-check"> *@
@*         <input class="form-check-input" type="checkbox" name="SelectedCategoryIds" value="@category.Id" id="category_@category.Id" /> *@
@*         <label class="form-check-label" for="category_@category.Id">@category.Name</label> *@
@*     </div> *@
@* } *@

@model IEnumerable<MyWebApp.Models.Category>
@{
    var selectedIds = ViewBag.SelectedCategoryIds as List<Guid> ?? new();
}

@foreach (var category in Model)
{
    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               name="selectedCategoryIds"
               value="@category.Id"
               id="category_@category.Id"
               @(selectedIds.Contains(category.Id) ? "checked" : "") />
        <label class="form-check-label" for="category_@category.Id">@category.Name</label>
    </div>
}
